<ion-view view-title="">

    <ion-nav-bar class="bar-light ">


        <ion-nav-title>
            EVERYDAY
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <!--ion-nav-buttons side="right" >
            <button class="button  button-clear small-text" style="color:red; font-size:14px;" >AVBRYT
            </button>
        </ion-nav-buttons-->
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                {{playlist.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
