<ion-view view-title="">


    <ion-nav-bar class="bar-light ">


        <ion-nav-title>
            
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <!--ion-nav-buttons side="right" >
            <button class="button  button-clear small-text" style="color:red; font-size:14px;" >AVBRYT
            </button>
        </ion-nav-buttons-->
    </ion-nav-bar>

    <ion-content scroll="true" class="no-header category-detail">
        <div class="category-header">
            <div class="title">
                EVERYDAY
            </div>
        </div>   
        <div class="list list-inset margin-zero">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Find Order">
            </label>
        </div>


        <div class="list">

            <a class="item item-avatar item-category" href="#">
                <img src="img/category-detail1.png">
                <h2>Modern Thai</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            392 Main St.<br />
                            4.0 km away 
                            <span class="restaurant-name">Thai</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/juicy.png">
                <h2>Juicy Burger Co.</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            300 Main St.<br />
                            3.8 km away 
                            <span class="restaurant-name">Fast Food</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/category-detail3.png">
                <h2>Modern Thai</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            392 Main St.<br />
                            4.0 km away 
                            <span class="restaurant-name">Thai</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/category-detail1.png">
                <h2>Modern Thai</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            392 Main St.<br />
                            4.0 km away 
                            <span class="restaurant-name">Thai</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/juicy.png">
                <h2>Juicy Burger Co.</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            300 Main St.<br />
                            3.8 km away 
                            <span class="restaurant-name">Fast Food</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/category-detail3.png">
                <h2>Modern Thai</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            392 Main St.<br />
                            4.0 km away 
                            <span class="restaurant-name">Thai</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/category-detail1.png">
                <h2>Modern Thai</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            392 Main St.<br />
                            4.0 km away 
                            <span class="restaurant-name">Thai</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/juicy.png">
                <h2>Juicy Burger Co.</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            300 Main St.<br />
                            3.8 km away 
                            <span class="restaurant-name">Fast Food</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>

            <a class="item item-avatar item-category" href="#">
                <img src="img/category-detail3.png">
                <h2>Modern Thai</h2>
                <div class="row padding-zero">
                    <div class="col-70 padding-zero" style="width: 70%;float: left">
                        <p>
                            392 Main St.<br />
                            4.0 km away 
                            <span class="restaurant-name">Thai</span>
                        </p>
                    </div>

                    <div class="col-30 text-right" style="width: 30%;float: right">
                        <p>$$$$</p>
                        <img src="img/stars.png" width="45" />
                    </div>
                </div>

            </a>
        </div>
    </ion-content>
</ion-view>
