<ion-view view-title="Categories">
    <ion-content scroll="true">

        <ion-list class="categorieslist">
            <ion-item class="cat-enjoy">
                Enjoy
            </ion-item>

            <ion-item class="cat-eat">
                Eat
            </ion-item>

            <ion-item class="cat-stay">
                Stay
            </ion-item>


            <ion-item class="cat-shop">
                Shop
            </ion-item>


            <ion-item class="cat-day">
                Everday
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
