<ion-view view-title="">
    <ion-nav-bar class="bar-light">


        <ion-nav-title>
            Donate
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <!--ion-nav-buttons side="right" >
            <button class="button  button-clear small-text" style="color:red; font-size:14px;" >AVBRYT
            </button>
        </ion-nav-buttons-->
    </ion-nav-bar>
    <ion-content>
        <div class="donate">
            <div class="donate-top">
                <img src="img/donate-logo.png" alt="Donate" height="140"  />
            </div>
            <div class="row-center">
                <div class="col">
                    <h1>Do you like what we do?!</h1>
                    <p>Than help us help others!</p>
                    <p>
                        Instead of getting paid, we are motivated by having 
                        the opportunity of helping  others in need.
                        Consider it like tipping your waiter!

                        Monthly we select 3 causes 
                        to be featured here.



                    </p>
                </div>
            </div>
            
            <div class="cause">
                THIS MONTH`S CAUSES
            </div>
            
            <div class="donate-footer text-center">
                <img src="img/donate2.png" alt="Donate" height="70"  />
            </div>
            
        </div>

    </ion-content>


</ion-view>
