<ion-view view-title="">
    <ion-nav-bar class="bar-light ">


        <ion-nav-title>
            New York, USA            
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <!--ion-nav-buttons side="right" >
            <button class="button  button-clear small-text" style="color:red; font-size:14px;" >AVBRYT
            </button>
        </ion-nav-buttons-->
    </ion-nav-bar>
    <ion-content>

        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="homeslider">
            <ion-slide>
                <div class="homeslide"><img src="img/home-slide.png"/> </div>
            </ion-slide>
            <ion-slide>
                <div class="homeslide"><img src="img/home-slide.png"/></div>
            </ion-slide>
            <ion-slide>
                <div class="homeslide"><img src="img/home-slide.png"/></div>
            </ion-slide>
        </ion-slide-box>

        <div class="featured-items">

            <div class="row">
                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div>
                </div>

                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div> 

                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 

                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div>
                </div>

                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div> 

                </div>
            </div>


            <div class="row">
                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div>
                </div>

                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div> 

                </div>
            </div>




            <div class="row">
                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div>
                </div>

                <div class="col col-50">
                    <div class="featured-img">
                        <img src="img/gallary.png" alt="Featured Image" />
                    </div>
                    <div class="featured-rating text-center">
                        <span class="featured-icons"> 
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <i class="icon ion-android-star-outline"></i>
                            <img src="img/featured-icon1.png" width="20" />
                        </span>


                    </div> 

                </div>
            </div>
        </div>
    </ion-content>


</ion-view>
