<ion-view view-title="Juicy Burger Co.">
    <ion-content scroll="true">
        <ion-gallery ion-gallery-items="items" ion-gallery-row="4"></ion-galllery>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            
            <a href="#/app/add-review" class="button icon-left ion-chevron-left button-clear button-light gallary-arrow"><span class="left-text"> YOUR REVIEW</span></a>
        </div>
        <h1 class="title">&nbsp;</h1>
        <div class="buttons" ng-click="doSomething()">
            <a href="#/app/map" class="button icon-right ion-chevron-right button-clear button-light gallary-arrow"><span class="right-text"> MAP</span></a>
        </div>
    </ion-footer-bar>
</ion-view>
