<ion-view view-title="petinerary">

    <ion-slide-box  does-continue="isContinue" active-slide="myActiveSlide" show-pager="true" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="box"><img src="img/slide1.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="img/slide2.jpg"></div>
        </ion-slide>
        <ion-slide>
            <div class="box pink"><img src="img/slide3.png"></div>
        </ion-slide>

        <ion-slide>
            <div class="box pink"><img src="img/slide4.png"></div>
        </ion-slide>
    </ion-slide-box>

</ion-view>
