<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">BACK</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/search">
                    PROFILE
                </ion-item>

                <ion-item menu-close href="#/app/search">
                    DONATE
                </ion-item>

                <ion-item menu-close href="#/app/categories">
                    Categories
                </ion-item>

                <ion-item menu-close href="#/app/search">
                    featured
                </ion-item>

                <ion-item menu-close href="#/app/search">
                    Search
                </ion-item>


                <ion-item menu-close href="#/app/search">
                    gallery
                </ion-item>

                <ion-item menu-close href="#/app/search">
                    map
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    favorites
                </ion-item>

                <ion-item menu-close href="#/app/playlists">
                    options
                </ion-item>

                <ion-item menu-close href="#/app/playlists">
                   <i class="icon ion-search"></i> contact
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
