<ion-view view-title="">

    <ion-nav-bar class="bar-light ">


        <ion-nav-title>
            Juicy Burger Co.
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <!--ion-nav-buttons side="right" >
            <button class="button  button-clear small-text" style="color:red; font-size:14px;" >AVBRYT
            </button>
        </ion-nav-buttons-->
    </ion-nav-bar>
    <ion-content>
        <div class="place-info">
            <p>
                <span class="title">Address</span>: <br />
                House # 244 st #7, Gujrat <br />
                Sweden
            </p>
            
            <p>
                <span class="title">Address</span>: <br />
                House # 244 st #7, Gujrat <br />
                Sweden
            </p>
            
        </div>
    </ion-content>
    
     <ion-footer-bar align-title="left" class="bar-calm">
        <div class="buttons">
            
            <a href="#/app/map" class="button icon-left ion-chevron-left button-clear button-light gallary-arrow">
                <span class="left-text">MAP</span></a>
        </div>
        <h1 class="title">&nbsp;</h1>
        <div class="buttons" ng-click="doSomething()">
            <a href="#/app/add-review" class="button icon-right ion-chevron-right button-clear button-light gallary-arrow">
                <span class="right-text"> YOUR REVIEW</span></a>
        </div>
    </ion-footer-bar>
</ion-view>
