<ion-modal-view>
    <!--ion-header-bar>
        <!--h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar-->
    <ion-content class="login-page">
        <form ng-submit="doLogin()" class="signup-form">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" placeholder="Full Name" ng-model="signUpData.fullrname">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-paw placeholder-icon"></i>
                    <input type="text" placeholder="Pet’s Name" ng-model="signUpData.petname">
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" placeholder="Username" ng-model="signUpData.username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-unlocked placeholder-icon"></i>
                    <input type="text" placeholder="Password" ng-model="signUpData.password">
                </label>
                <label class="item item-input">
                    <i class="icon ion-unlocked placeholder-icon"></i>
                    <input type="text" placeholder="Repeat Password" ng-model="signUpData.repeatpassword">
                </label>

            </div>


            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-location placeholder-icon"></i>
                    <input type="text" placeholder="Country" ng-model="signUpData.country">
                </label>
                <div class="row" style="padding: 0">
                    <div class="col col-50 padding-top" style="padding: 0">
                        <label class="item item-input">
                            <i class="icon ion-location placeholder-icon"></i>
                            <input type="text" placeholder="State" ng-model="signUpData.state">
                        </label>
                    </div>

                    <div class="col col-50 padding-top" style="padding: 0">
                        <label class="item item-input">
                            <i class="icon ion-location placeholder-icon"></i>
                            <input type="text" placeholder="City" ng-model="signUpData.city">
                        </label>
                    </div>
                </div>
                
                <label class="item item-input">
                    <i class="icon ion-earth placeholder-icon"></i>
                    <input type="text" placeholder="Prefered Language" ng-model="signUpData.language">
                </label>

            </div>
            <div>
                <button class="button button-block button-calm" ng-click="SignUp(updateform.$valid)">SignUp</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>


