.item-input {
    /*background: $inputbox !important;   */
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: $light;
    /*background: $inputbox !important;   */
}



.category-detail {
    .item-input {
        background: $light !important;  
    }
    input[type="text"] {
        background: $light !important;  
    }
    .list-inset {

    }
    .placeholder-icon {
        color: #000;
        &:first-child {
            padding-right: 6px;
        }
        &:last-child {
            padding-left: 6px;
        }
    }
}


.placeholder-icon {
    color: #fff;
    &:first-child {
        padding-right: 6px;
    }
    &:last-child {
        padding-left: 6px;
    }
}



.underline {
    border-top: solid 3px $light;
    min-width: 30px;
    display: inline-block
}