.login-page {
    height: 100%;
    width: 100%;
    display: block;
    background-color: $royal;

    .login {     
        text-align: center;
        padding:20px;
        .login-image {
            img {  
                max-width: 100%;
                
            }
        }
    }
}