.header-top {
    background-color: #fff;
    padding: 10px;
    margin-top:15px;
    padding-top:0px;
    .header-title {

        color: #1a93c0;
        text-align: center;
    }
}




.topsearch {
    display: inline-block;
    padding: 10px;
    font-size:18px;
    color: #b05c7d;
}





.login-page {
    height: 100%;
    width: 100%;
    display: block;
    background-color: $positive !important;

    .login {     
        text-align: center;
        padding:20px;

        .login-image {

            max-height:230px;
            margin:0 auto;
            text-align:center;
            img {  
                margin-top: 50px;
                max-width: 100%;
                margin-bottom: 50px;

            }
        }
    }


    .item-input {
        background: $inputbox !important;
    }

    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        color: $light;
        background: $inputbox !important;   
    }

    ::-webkit-input-placeholder {color: #fff !important;}
    :-moz-placeholder           {color: #fff !important;}
    ::-moz-placeholder          {color: #fff !important;}
    :-ms-input-placeholder      {color: #fff !important;}  

}

.signup-page {   
    background-color: $light !important;
    padding-top: 50px;


    .signup-image {

        max-height:230px;
        margin:0 auto;
        text-align:center;
        img {  
            margin-top: 0px;
            max-width: 100%;
            margin-bottom: 50px;

        }
    }



    .signup-btn {
        padding-bottom:50px;    
    }
    .item-input {
        background: #3cb5b5 !important;
    }

    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        color: $light;
        background: #3cb5b5 !important;   
    }

    ::-webkit-input-placeholder {color: #fff !important;}
    :-moz-placeholder           {color: #fff !important;}
    ::-moz-placeholder          {color: #fff !important;}
    :-ms-input-placeholder      {color: #fff !important;}  

    .upload-images {
        position:relative;
        text-align:left;
        margin-left: 2px;
        margin-bottom: 22px;

        .human-picture, .pet-picture {
            position: absolute;
            height: 110px;
            border: solid 1px #fff;
            border-radius: 50%;
            background-color: #944ea6;
            vertical-align: middle;
            color: #fff;
            min-width: 110px;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            padding-top:30px;
            top:-90px;
            line-height: 1;
            span {
                font-size: 9px;

            }
        }

        .pet-picture {
            height: 80px;
            min-width: 80px;
            padding-top: 15px;            
            z-index: 1;
            left: 95px;
            top: -58px;
        }

        .upload-text {
            color: #1a93c0;
            position: absolute;
            width: 100%;
            text-align: right;
            right: 35px;
            font-size: 12px;
        }
    }
}